---
// @ts-nocheck
export async function getStaticPaths() {
  const url = "https://qzvghkmmouqxsfoknccp.supabase.co/rest/v1/karrusel";
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6dmdoa21tb3VxeHNmb2tuY2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2Mzc5NjEsImV4cCI6MjA0NDIxMzk2MX0.sy6a8KiedZkQm-LbWQcxGe3QCll35uevBl3UVPUPLfk",
    },
  };

  const artists = await fetch(url, options).then((res) => res.json());

  return artists.map((artist) => ({
    params: { artist: artist.slug }, // [artist]=artist.slug
    props: { artist }, // send al data med som props
  }));
}

const { artist } = Astro.props;
import MainLayout from "../../components/MainLayout.astro";
---

<MainLayout>
  <div class="artist_grid">
    <img src={"/img/" + artist.image} alt="" />
    <div class="artist_text">
      <h1>{artist.name}</h1>
      <p>{artist.content1}</p>
      <p>{artist.content2}</p>
      <p>{artist.content3}</p>
      <div class="spotify-player">
        <iframe src={"https://open.spotify.com/embed/track/" + artist.spotify} width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .artist_text {
    margin: 3%;
  }
  .artist_text p {
    margin-bottom: 6%;
  }
  .artist_text h1 {
    margin-bottom: 3%;
  }

  img {
    align-self: stretch;
    object-fit: cover;
  }
  .artist_grid {
    display: grid;
  }

  @media (min-width: 800px) {
    .artist_grid {
      grid-template-columns: 1fr 1.2fr;
    }

    .artist_text {
      margin: 3%;
    }
    .artist_text p {
      font-size: 20px;
      margin-bottom: 2%;
      width: 65ch;
    }
    .artist_text h1 {
      font-size: 5rem;
      margin-bottom: 5%;
      text-shadow: 3px 3px 0 #f72862;
    }

    .spotify-player {
      margin-top: 10%;
    }
  }
</style>
