---
import Timetable from "../../components/Timetable.astro";
import MainLayout from "../../components/MainLayout.astro";
import Button from "../../components/Button.astro";
import Arrowleft from "../../components/Arrowleft.astro";
import Arrowright from "../../components/Arrowright.astro";

const url = "https://qzvghkmmouqxsfoknccp.supabase.co/rest/v1/karrusel";
const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6dmdoa21tb3VxeHNmb2tuY2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2Mzc5NjEsImV4cCI6MjA0NDIxMzk2MX0.sy6a8KiedZkQm-LbWQcxGe3QCll35uevBl3UVPUPLfk",
  },
};

const artists = await fetch(url, options).then((res) => res.json());
---

<MainLayout>
  <div class="buttons">
    <Button text="Thursday" />
    <Button text="Friday" />
    <Button text="Saturday" />
  </div>
  <div class="timetable">
    <div>
      <h2>MANEGEN</h2>
      <ul>
        {artists.map((artist) => <Timetable artist={artist} time="18.00" />)}
      </ul>
    </div>
    <div>
      <h2>TRIBUNEN</h2>
      <ul>
        {artists.map((artist) => <Timetable artist={artist} time="19.30" />)}
      </ul>
    </div>
    <div>
      <h2>BALKONEN</h2>
      <ul>
        {artists.map((artist) => <Timetable artist={artist} time="21.00" />)}
      </ul>
    </div>
    <div>
      <h2>ARKADEN</h2>
      <ul>
        {artists.map((artist) => <Timetable artist={artist} time="00.00" />)}
      </ul>
    </div>
  </div>
  <div class="arrows">
    <Arrowleft />
    <Arrowright />
  </div>
  <h2>DISCOVER THE ARTISTS</h2>
  <div class="imagecontainer">
    <img src="/img/anetha.webp" alt="anetha" />
    <!-- <div class="billedetext"><h2>ANETHA</h2></div> -->
    <img src="/img/marlon.webp" alt="nene" />
    <img src="/img/nene.webp" alt="anetha" />
    <img src="/img/ki_ki.webp" alt="kiki" />
  </div>
  <div class="arrows">
    <Arrowleft />
    <Button text="VIEW ARTIST" />
    <Arrowright />
  </div>
</MainLayout>

<style>
  h2 {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 5%;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .arrows {
    display: flex;
    justify-content: center;
  }

  .imagecontainer {
    /* position: relative;
    display: inline-block; */
    display: flex;
    overflow-x: auto;
  }
  .imagecontainer img {
    display: block;
    width: 40%;
    height: auto;
    padding: 1%;
  }

  .billedetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    padding: 10px;
    text-align: center;
  }

  img {
    border-radius: 40px;
    /* box-shadow: 1px 1px 10px #f72862; */
  }

  @media (max-width: 800px) {
    .timetable {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
  }

  @media (min-width: 801px) {
    .timetable {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      place-items: center;
    }
  }
</style>
