@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
.allerta-stencil-regular {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
.allerta-regular {
  font-family: "Allerta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Saira+Stencil+One&display=swap');
.saira-stencil-one-regular {
  font-family: "Saira Stencil One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: linear-gradient(180deg, #0f1843, #643b81);
  color: white;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  text-shadow: 4px 2px 4px #f72862;
  font-family: "Saira Stencil One", serif;
}
