---
const text = Astro.props.text;
---

<a href="/artists">
  <div class="btn-container">
    <button>
      <p>{text}</p>
    </button>
  </div>
</a>
<style>
  button {
    display: inline-block;
    margin: 20px;
    padding: 8px 35px;
    border: 2px solid #f72862;
    border-radius: 15px;
    color: white;
    text-shadow: 2px 4px 7px #f72862;
    font-family: "Allerta Stencil", sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    box-shadow: 0 0 15px #f72862;
    background-color: transparent;
    cursor: pointer;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  button:hover {
    background-color: #f72862;
    box-shadow: 0 0 15px #f72862;
  }
  button:focus {
    background-color: #f0d8df;
    text-shadow: none;
  }
</style>
