---
import "../pages/global.css";
---

<footer>
  <div class="icons">
    <div class="some">
      <img src="/img/instagram.png" alt="instagram" />
      <img src="/img/facebook.png" alt="facebook" />
    </div>
    <img src="/img/heiniken_silver.png" alt="heineken" />
  </div>
</footer>

<style>
  img {
    width: 30px;
    height: 30px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.516);
  }

  .some {
    display: flex;
    align-items: center;
  }
</style>
