---
import "../pages/global.css";
---

<footer>
  <div class="icons">
    <div class="some">
      <img src="/img/instagram.png" alt="instagram" />
      <img src="/img/facebook.png" alt="facebook" />
    </div>
    <img src="/img/heineken.png" alt="heineken" />
  </div>
</footer>

<style>
  img {
    /* max-width: 100%; */
    width: 24px;
    height: 24px;
  }
  .icons {
    display: flex; /* Placer ikonerne i en række */
    justify-content: space-between; /* Placer elementerne på hver sin side */
    align-items: center; /* Centerer elementerne vertikalt */
    padding: 10px 20px; /* Indre margin */
    border-top: 1px solid #ccc; /* Overkant border */
  }

  .some {
    margin: 10px;
  }
</style>
