---
import "../pages/global.css";
---

<header>
  <p>28/8-30/8 2025</p>
  <img src="#" alt="logo" />

  <div class="countdown">
    <span class="days">254</span><span class="label"> DAGE</span> |
    <span class="hours">0</span><span class="label"> TIMER</span> |
    <span class="minutes">16</span><span class="label"> MIN</span>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    color: #fff;
    padding: 10px 20px;
    font-family: "Allerta", sans-serif;
    height: 60px;
  }

  .countdown {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 4px 2px 4px #f72862;
    color: #fff;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 4px 2px 4px #f72862;
  }
</style>
