---
const { artist, time, text } = Astro.props;
---

<article>
  <h1>{artist.name}</h1>
  <p class="time">{time}</p>
  <p>{text}</p>
  <a href={"/artists/" + artist.slug}>{artist.name}</a>
</article>

<style>
  article {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 140px;
    box-shadow: 2px 7px 15px #f72862;
    color: #f72862;
    text-align: center;
    font-family: Allerta Stencil;
  }

  .time {
    text-align: left;
  }
</style>
